
{% extends 'base.html.twig' %} 




{% block body %}    
    


    <table>
        <thead>
            <tr>
                <th>
                    Company
                </th>
                <th>
                    Title
                </th>
                <th>
                    &nsp ;
                </th>
            </tr>

        </thead>    
        <body>
        {% for offer in offers %}      
            <tr>
                <td>{{offer.company.name}}</td>
                <td>{{offer.tittle}}</td>
                <td><a href="{{ url ('offer_apply', { id: offer.id })}}">Apply</a></td>
            </tr>
        {% endfor %}

        </body>

    </table>


{% endblock %}


